@import url('https://fonts.googleapis.com/css?family=Cookie');

/***********************************************/
/** Changing all default settings in CSS to 0**/
/** Code has been adapted from reset.css, but has \
been changed to only apply to html tags that I have used in my website. **/
/***********************************************/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, img, ol, ul, li, article, footer, h{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details,section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/***********************************************/
/***********************************************/
/***********************************************/

body {
    background: #fdf7f1;
    height: 1650px;
}

/** Formatiing the navigation bar **/
/** Formatiing the navigation bar **/
#nav {
    width: 100%;
    background: #ffbdbd;
    height: 100px;
}

#logo-container {
    width: 40%;
    height: 100px;
    background: #ffbdbd;
    float: left;
}

#logo-container #logo a {
    text-decoration: none;
    color: inherit;
}

#logo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #fcf;
    margin-top: 10px;
    margin-left: 5%;
    border: solid 5px #fff;
    color: #28a5cc;
    text-align: center;
    font-family: "Cookie";
    font-size: 85px;
}

#nav ul {
    width: 60%;
    float: left;
    height: 100px;
    text-align: right;
}

#nav ul li {
    display: inline-block;
    font-family: "Helvetica";
    margin-right: 20px;
    color: #28a5cc;
    font-size: 14px;
    line-height: 20px;
    padding-top: 40px;
}

#nav ul li:last-child {
    margin-right: 5%;
}

#nav ul li.active {
    color: #555;
}

#nav ul li a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

#nav ul li a:hover {
    color: #555;
}

#nav ul li a img {
    height: 20px;
}

#shopping-cart {
    width: calc(5% - 2px);
    float: left;
    border-left: 2px solid #555;
    height: 65px;
    text-align: center;
    padding-top: 35px;
}

#shopping-cart img{
    width: 30px;
    height: auto;
}

/** Formatiing the banner on the home screen **/
img#home-banner {
    width: 100%;
    height: 535px;
    position: absolute;
}

h1 {
    font-family: "Cookie";
    color: #fff;
    background: #ed3981;
    font-size: 80px;
    position: relative;
    line-height: 90px;
    margin-top: 50px;
    margin-left: 5%;
    width: 308px;
    padding-left: 10px;
    padding-right: 10px;
}

h6 {
    font-family: "Helvetica";
    background: #fdf7f1;
    color: #ed3981;
    font-size: 14px;
    position: relative;
    line-height: 30px;
    width: 250px;
    text-align: left;
    margin-top: 10px;
    margin-left: 5%;
    padding-left: 15px;
}

a#a-banner-button {
    text-decoration: none;
}

div#banner-button {
    margin-top: 230px;
    margin-left: 5%;
    height: 60px;
    width: 181px;
    background: rgb(35,45,81);
    position: relative;
    border-radius: 25px;
    box-sizing: border-box;
}

div#banner-button h3 {
    width: 121px;
    font-family: "Cookie";
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
}
 
div#banner-button img {
    width: 20px;
    float: right;
    height: 32px;
    margin-top: 14px;
    margin-right: 10px;
}
/** Formatiing the content on the products screen **/

article#original {
    height: 900px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    box-sizing: border-box;
}

#original h1 {
    background: none;
    color: #28a5cc;
    width: 100%;
    text-align: center;
    line-height: 120px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    margin-top: 100px;
}

#original p {
    color: #555;
    font-family: "Helvetica";
    font-size: 14px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    height: 100px;
    margin-bottom: 0px;
}

#original h3 {
    color: #fca311;
    font-family: "Cookie";
    font-size: 36px;
    line-height: 50px;
    
}

ifram {
    width: 100%;
}

/** Formatting SIDE CART **/
#side-cart {
    height: 535px;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0px;
    background-color: #fdf7f1;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid #523428;
/*    padding-top: 60px;*/
}

.item {
    height: 85px;
    width: 340px;
    background: #fdf7f1;
    margin: 10px 0;
    padding: 10px 0;
    border-top: #523428 dashed 4px;
    float: left;
}

img#thumb-image {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    border: solid 3px #ed3981;
}

.size {
    line-height: 20px;
    font-size: 20px;
    color: #28a5cc;
    margin: 0;
    font-family: "Cookie";
    margin-left: 5px;
    width: 160px;
    float: left;   
}

#item-container{
    width: 100%;
    height: 400px;
    overflow: scroll;
}

#cart-total {
    width: 340px;
    margin: 10px 0;
    height: 50px;
    border-top: solid 5px #555;
    font-size: 40px;
    color: #555;
    font-family: "Cookie";
    border-bottom: double 10px #555;
    clear: both;
    position: absolute;
    bottom: 50px;
}

#cart-total h2 {
    padding-top: 8px;
    width: 246px;
    text-align: left;
    float: left;
}

#cart-total-value {
    width: 89px;
    height: 50px;
    float: right;
    text-align: center;
    font-family: "Cookie";
    color: #555;
    font-size: 40px;
    padding-top: 10px;
}

#checkout {
    height: 20px;
    background: #5b7;
    border-radius: 25px;
    width: 50%;
    float: left;
    font-family: "Cookie";
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 27px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px; 
}

#checkout:hover {
    background: #8fa;
    color: #000;
}

#checkout a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

#clear-cart {
    height: 14px;
    border-radius: 25px;
    width: 50%;
    float: right;
    text-align: right;
    font-family: "Helvetica";
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 8px;
    margin-top: 11px;
}

#clear-cart a {
    text-decoration: none;
    color: inherit;
}

#clear-cart a:hover {
    color: rgb(221,0,0);
}

#price {
    width: 89px;
    height: 50px;
    float: right;
    text-align: center;
    font-family: "Cookie";
    color: #28a5cc;
    font-size: 40px;
    padding-top: 10px;
}

.fla1{
    font-family: "Helvetica";
    margin-left: 5px;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    width: 160px;
    float: left
}

.fla2 {
    font-family: "Helvetica";
    margin-left: 5px;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    width: 160px;
    float: left;
}

.fla3 {
    font-family: "Helvetica";
    margin-left: 5px;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    width: 160px;
    float: left;
}

.item-remove {
    width: 89px;
    float: right;
    line-height: 20px;
    font-family: "Helvetica";
    color: darkblue;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

/********************/
/***** Carousel *****/
/********************/
h4#additional {
    font-family: "Cookie";
    font-size: 54px;
    color: #28a5cc;
    margin-bottom: 20px;
    width: 1092px;
    margin-left: calc(50% - 546px);
}
.carousel-container {
    width: 1092px;
    height: 300px;
    margin-left: calc(50% - 546px);
}
#left-button {
    width: 46px;
    color: #fff;
    height: 250px;
    float: left;
}

#left-button img {
    width: 22px;
    height: auto;
    margin-top: 108px;
    cursor: pointer;
}

#right-button img {
    width: 22px;
    height: auto;
    margin-top: 108px;
    float: right;
    cursor: pointer;
}

#carousel-images {
    width: 1000px;
    float: left;
}

.others{
    width: 300px;
    margin-right: 50px;
    height: 250px;
    float: left;
}

.others:last-child {
    margin-right: 0px;
}

.others img{
    height: 237px;
    width: 237px;
    border-radius: 50%;
    margin-left: 16px;
    border: 5px solid #fff;
    margin-left: 27.5px;
}

.others h3 {
    width: 100%;
    text-align: center;
    height: 45px;
    font-family: "Cookie";
    font-size: 40px;
    padding-top: 5px;
    color: #28a5cc;
}

#right-button {
    width: 46px;
    color: #fff;
    height: 250px;
    float: right;
}

/************/
/** FOOTER **/
/************/

/**Social Media**/
div#social-media {
    margin-top: 60px;
    width: 100%;
    height: 120px;
    background: #ddeeff;
    box-sizing: border-box;

}

div#social-media h2 {
    font-family: "Cookie";
    color: #fca311;
    font-size: 40px;
    line-height: 32px;
    padding-top: 40px;
    margin-left: 10%;
}

div#social-media ul {
    width: 90%;
    height: 50px;
    padding-left: 10%;
    margin-top: 20px;
}

div#social-media ul li {
    display: inline-block;
    margin-right: 20px;
    
}
div#social-media ul li img {
    width: 54px;
    height: 54px;
}

/**copyright**/
#copyright {
    width: 100%;
    border-top: 7px solid rgba(82,52,40,.5);
    height: 80px;
    font-family: "Helvetica";
    font-size: 12px;
    color: #523428;
}

#copyright h4 {
    width: 40%;
    float: left;
    margin-left: 10%;
    line-height: 80px;
}

#copyright div {
    width: 40%;
    float: right;
    margin-right: 10%;
    line-height: 80px;
    text-align: right;
}

em {
    font-weight: 800;
}